@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400,600,700');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, input, textarea, select, button {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease 0s;
}

a:visited {
  color: #fff;
}

a:hover, a:active {
  color: #fff;
  transition: all 0.2s ease 0s;
}

*:focus {
  outline: 0;
}

body {
  line-height: 1;
  position: relative;
  transition: all 0.5s ease 0.1s;
  font: 400 1rem/1.4 'Montserrat', sans-serif;
}

p {
  font: 400 0.9375rem/1.4 'Montserrat', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear:before, .clear:after {
  content: '';
  clear: both;
  display: block;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

body {
  width: 100%;
  min-height: 100%;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#wrapper {
  width: 100%;
  min-width: 320px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative;
}

.container > .logo {
  position: absolute;
  top: 0;
  left: 50px;
}

.step-one, .step-two, .step-three, .direct-download, .email-send, .email-download {
  padding-top: 15px;
  display: none;
}

.logo {
  text-align: left;
}

.logo img {
  width: 150px;
  height: auto;
}

.title {
  font: 600 2rem/1.4 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 27px;
}

.subtitle {
  color: #707070;
  margin-bottom: 50px;
  font: 400 1.125rem/1.4 'Montserrat', sans-serif;
}

.section-title {
  font: 600 1.5rem/1.4 'Montserrat', sans-serif;
  margin-bottom: 15px;
}

.section-subtitle {
  font: 400 1.125rem/1.4 'Montserrat', sans-serif;
  color: #707070;
  margin-bottom: 34px;
}

.inputfile {
  display: none;
}

.upload-button {
  display: inline-block;
  width: 246px;
  background-color: #0AC289;
  font: 600 1.25rem/50px 'Montserrat', sans-serif;
  color: #fff;
  letter-spacing: 2px;
  border: 1px solid #0AC289;
  box-sizing: border-box;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.upload-button label {
  width: 246px;
  cursor: pointer;
  display: block;
  line-height: 50px;
}

.upload-button:hover {
  color: #0AC289;
  background-color: #fff;
  box-sizing: border-box;
  transition: all 0.2s ease 0s;
}

/* step one */
.step-one {
  text-align: center;
}

.step-one .title {
  padding-top: 50px;
}

.progress {
  counter-reset: step;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.step-one .progress {
  margin-bottom: 50px;
}

.progress li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: default;
  color: #aaa;
  font-size: 0.875rem;
  vertical-align: top;
}

.progress li:before {
  content: counter(step);
  counter-increment: step;
  width: 31px;
  height: 31px;
  line-height : 31px;
  border: 1px solid #aaa;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
  font-size: 1rem;
}
.progress li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #aaa;
  top: 15px;
  left: -50%;
  z-index : -1;
}

.progress li:first-child:after {
  content: none;
}

.progress li.current {
  color: #0AC289;
  font-weight: 700;
}

.progress li.current:before {
  border-color: #0AC289;
  border-width: 2px;
}

.progress li.current:after {
  background-color: #0AC289;
  height: 2px;
  top: 16px;
}

.upload {
  box-sizing: border-box;
}

.step-one .upload {
  max-width: 800px;
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  margin: 0 auto 20px auto;
  padding: 90px 15px 50px 15px;
}

.cloud {
  margin-bottom: 30px;
}

.spacer {
  display: none;
}

/* step two */
.step-two {
  transition: all 0.5s ease 0s;
}

.step-two .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.step-two .logo {
  text-align: center;
}

.step-two .hidden, .step-three .hidden {
  display: none;
}

.step-two-state, .step-three-state {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  max-width: 300px;
}

.step-two-portrait {
  max-width: 550px;
  min-width: 300px;
  width: 100%;
  height: 715px;
  background-color: #ECECEC;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.hidden {
  position: relative;
  overflow: hidden;
  height: 20px;
  text-align: center;
  margin-bottom: 5px;
}
.line {
  height: 1px;
  width: 100%;
  box-shadow: 0 0 7px 1px #b7b7b7;
}
.element {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 #b7b7b7;
  margin: -12px auto 0 auto;
  background-color: #fff;
  position: relative;
}
.element:before {
  content: '^';
  display: block;
  transform: scaleY(-0.5) scaleX(1.1);
  position: absolute;
  color: #777;
  top: 6px;
  left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.element.active:before {
  transform: scaleY(0.5) scaleX(1.1);
}

.catalog {
  margin-left: 15px;
}

.step-two .progress, .step-three .progress {
  counter-reset: step;
  width: auto;
}

.step-two .progress li, .step-three .progress li  {
  display: block;
  position: relative;
  padding: 30px 0;
}

.step-two .progress li:before, .step-three .progress li:before {
  content: counter(step);
  counter-increment: step;
}

.step-two .progress li:after, .step-three .progress li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #ddd;
  top: -50%;
  left: 16px;
  z-index : -1;
}

.step-two .progress li:first-child:after, .step-three .progress li:first-child:after {
  content: none;
}

.step-two .progress .vertical, .step-three .progress .vertical {
  position: absolute;
  top: 40px;
  left: 45px;
  display: table-cell;
  vertical-align: bottom;
  height: 32px;
}

.step-two .progress li.current, .step-three .progress li.current {
  color: #0AC289;
  font-weight: 700;
}

.step-two .progress li.current:before, .step-three .progress li.current:before {
  border-color: #0AC289;
  border-width: 2px;
}

.step-two .progress li.current:after, .step-three .progress li.current:after {
  background-color: #0AC289;
  width: 2px;
  left: 16px;
}

.upload-button.again {
  color: #0AC289;
  background-color: #fff;
}

.upload-button.again:hover {
  color: #fff;
  background-color: #0AC289;
}

.step-two .upload-button.again {
  margin-bottom: 25px;
}

.controls {
  display: block;
  position: absolute;
  top: 40px;
  right: 15px;
  z-index: 100;
}

.move {
  display: block;
  min-height: 100px;
  min-width: 100px;
  position: relative;
  margin-bottom: 35px;
}

.move .btn-circle-left {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 0;
}

.move .btn-circle-right {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  right: 0;
}

.move .btn-circle-up {
  position: absolute;
  top: 0;
  margin-left: -17px;
  left: 50%;
}

.move .btn-circle-down {
  position: absolute;
  bottom: 0;
  margin-left: -17px;
  left: 50%;
}

.zoom, .rotate {
  position: relative;
  display: block;
  height: 80px;
  width: 80px;
  margin: 0 auto 20px;
}

.zoom .zoomminus {
  position: absolute;
  top: 0;
  margin-left: -17px;
  left: 50%;
}

.zoom .zoomplus {
  position: absolute;
  bottom: 0;
  margin-left: -17px;
  left: 50%;
}

.btn-circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255,255,255,.78);
  border: none;
}

.btn-circle:hover {
  box-shadow: 0 0 15px 0 rgba(100,100,100,.4);
}

.btn-circle .fa {
  font-size: 1rem;
}

.mobile-buttons {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 30px;
  z-index: 120;
  display: none;
}

.mobile-buttons .upload-button.mobile {
  height: 41px;
  width: 41px;
  background-color: #0AC289;
  display: block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.upload-button.again.mobile {
  margin-bottom: 15px;
}

.upload-button.export.mobile {
  background-image: url('../img/wdownload.png');
}

.upload-button.again.mobile {
  background-image: url('../img/wcloud.png');
}

#userDreads{
	cursor: move;
	position: absolute;
  width: 100%;
  height: auto;
	z-index: 10;
}
#userPortrait, .userportrait{
	top: 0;
	left: 0;
	cursor: move;
	position: relative;
}
.croppingArea {
	position: relative;
	overflow: hidden;
	height: 100%;
	flex: 1;
 }

 .ui-wrapper {
   overflow: visible !important;
   z-index: 110 !important;
 }

 .croppingArea .ui-rotatable-handle {
	height: 38px;
	width: 38px;
	cursor: pointer;
  background-image: url(../img/rotate.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 50% 50%;
	left: 25px;
  top: 15px;
  position: absolute;
  background-color: rgba(255,255,255,.78);
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(100,100,100,.3);
  z-index: 110;
}

.croppingArea .ui-resizable-handle {
	height: 38px;
  width: 38px;
  background-image: url(../img/resize.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 50% 50%;
  transform: rotate(45deg);
	right: 25px;
  top: 12px;
  position: absolute;
  background-color: rgba(255,255,255,.78);
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(100,100,100,.3);
  z-index: 110;
}

.croppingArea .ui-resizable-handle:hover, .croppingArea .ui-rotatable-handle:hover {
  box-shadow: 0 0 15px 0 rgba(100,100,100,.4);
}

.final-logo {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 210;
  display: none;
}

.final-sign {
  position: absolute;
  padding: 15px 0 15px 120px;
  display: inline-block;
  bottom: 0;
  left: -100px;
  z-index: 210;
  display: none;
}

.sign-rectangle {
  background-color: rgba(10, 194, 137, .7);
  transform: skewX(45deg);
  transform-origin: 0 0;
  display: block;
  position: absolute;
  height: 95px;
  width: 400px;
  left: 0;
  bottom: 0;
}

.sign-title {
  font: 600 1.6875rem/1.4 'Montserrat', sans-serif;
  color: #fff;
  z-index: 11;
  position: relative;
}

.sign-subtitle {
  font: 400 1.25rem/1.4 'Montserrat', sans-serif;
  color: #fff;
  z-index: 11;
  position: relative;
  padding-left: 60px;
}

.catalog .title {
  margin: 20px auto 5px auto;
}

.catalog .subtitle {
  margin-bottom: 10px;
  text-align: center;
}

.catalog .dreadlocks {
  height: 560px;
  overflow-y: auto;
  margin-bottom: 15px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.catalog .dreadlocks .thumbnail {
  height: 130px;
  width: 130px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(100,100,100,.3);
  margin: 5px;
  border-radius: 4px;
}

.catalog .dreadlocks .thumbnail img {
  max-height: 110px;
  max-width: 110px;
  padding: 5px;
}

.catalog .dreadlocks .thumbnail.active {
  position: relative;
}

.catalog .dreadlocks .thumbnail.active:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(48,202,154,.5);
}

.catalog .dreadlocks .thumbnail.active:after {
  position: absolute;
  content: '✓';
  display: block;
  top: 0;
  left: 0;
  height: 130px;
  width: 130px;
  text-align: center;
  font-size: 5rem;
}

.catalog .contact {
  text-align: center;
}

.catalog .contact .us {
  color: #0AC289;
  border-bottom: 1px solid #0AC289;
}

/* step three */
.step-three {
  text-align: center;
  transition: all 0.5s ease 0s;
}

.step-three .container {
  display: flex;
  justify-content: center;
}

.step-three .logo {
  text-align: center;
}

.step-three .title {
  margin-bottom: 5px;
}

.step-three .subtitle {
  margin-bottom: 10px;
}

.step-three .final-img {
  max-width: 750px;
  width: auto;
  height: 631px;
  vertical-align: bottom;
}

.step-three-state {
  margin-right: 30px;
}

.step-three .upload {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 750px;
  margin-left: 20px;
}

.step-three .upload.mobile {
  display: none;
}

.step-three .upload-button {
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #fff;
  color: #0AC289;
  margin-bottom: 20px;
}

.step-three .upload-button:last-child {
  margin-bottom: 0;
}

.step-three .upload-button:hover {
  background-color: #0AC289;
  color: #fff;
}

/* you have successfully downloaded */
.direct-download {
  text-align: center;
}

.direct-download .title {
  padding-top: 50px;
  margin-bottom: 24px;
}

.direct-download .fas {
  font-size: 4rem;
  color: #0AC289;
  margin-top: 30px;
  margin-bottom: 60px;
}

.direct-download .section-title {
  font-size: 1.5625rem;
  margin-bottom: 74px;
}

.direct-download .section-title-mobile, .email-download .section-title-mobile {
  display: none;
}

.direct-download .section-title .green {
  color: #0AC289;
}

.direct-download .section-subtitle {
  font-size: 1.25rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 74px;
}

.direct-download .section-subtitle .get-real {
  color: #0AC289;
  border-bottom: 1px solid #0AC289;
}

.direct-download .section-subtitle .get-real:hover {
  border-style: dashed;
}

/* send picture to your of friend`s email */
.email-send {
  text-align: center;
}

.email-send .title {
  padding-top: 80px;
}

.email-send .progress {
  margin-bottom: 60px;
}

.download {
  padding-top: 6px;
}

.email-send .send {
  max-width: 750px;
  margin: 0 auto;
  padding: 35px 0 65px 0;
  text-align: left;
}
.email-send .section-title {
  font-size: 1.5625rem;
  margin-bottom: 48px;
}
.email-send .send .email {
  width: 275px;
  border: 1px solid #c5c5c5;
  padding: 15px 5px 17px 16px;
  font-size: 0.9375rem;
}
.email-send .send .email::placeholder {
  font: 300 0.9375rem/1.4 'Montserrat', sans-serif;
  font-style: italic;
  color: #969696;
}
.email-send .send .grey {
  margin: 15px 0;
  color: #969696;
  font-weight: 600;
}
.email-send .send .contact-me {
  display: inline-block;
  text-align: left;
  margin: 0;
  vertical-align: middle;
}
.email-send .send .checkbox {
  display: none;
}
.email-send .send .checkbox-custom {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid #c5c5c5;
}
.email-send .send .checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #0AC289;
}
.email-send .send .checkbox-label {
  vertical-align: top;
  display: inline-block;
  margin-top: 1px;
}
.email-send .send .string {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.email-send .far {
  display: none;
}

/* You have succesfully sent your dread-head image to your email! */
.email-download {
  text-align: center;
}

.email-download .title {
  padding-top: 80px;
}

.email-download .far, .email-send .far {
  font-size: 4rem;
  color: #0AC289;
  margin-top: 30px;
  margin-bottom: 60px;
}

.email-download .section-title {
  font-size: 1.5625rem;
  margin-bottom: 76px;
}

.email-download .section-subtitle {
  font-size: 1.25rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 74px;
}

.email-download .section-title .green {
  color: #0AC289;
}

.email-download .section-subtitle .get-real {
  color: #0AC289;
  border-bottom: 1px solid #0AC289;
}

.email-download .section-subtitle .get-real:hover {
  border-style: dashed;
}

.picture__errors {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* rotate buttons */
.btn-circle-rotate {
  position: absolute;
  left: 50%;
  margin-left: -17px;
}

.btn-circle-rotate-left {
  top: 0;
}

.btn-circle-rotate-right {
  top: auto;
  bottom: 0;
}

/* safari popup */
.safari-popup__wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.safari-popup {
  position: absolute;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  top: 50%;
  left: 50%;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgba(255,255,255, 1);
  font-size: 23px;
  color: #000;
  transform: translate(-50%, -50%);
  border: 2px solid #0AC289;
  border-radius: 30px;
}

.safari-popup__button {
  margin-top: 15px;
  margin-left: auto;
  padding: 10px 20px;
  background-color: #0AC289;
  color: #fff;
  border: 0;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
